.container {
  width: 1210px;
  height: 830px;
  margin: 0 auto;
}
@font-face {
  font-family: Play;
  font-weight: 400;
  font-style: normal;
  src: local("Play Regular"), local("Play-Regular"),
    url(../font/Play-Regular.woff) format("woff"),
    url(../font/Play-Regular.woff2) format("woff2"),
    url(../font/Play-Regular.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: Play;
  font-weight: 800;
  font-style: normal;
  src: local("Play Bold"), local("Play-Bold"),
    url(../font/Play-Bold.woff) format("woff"),
    url(../font/Play-Bold.woff2) format("woff2"),
    url(../font/Play-Bold.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: Righteous Regular;
  font-weight: 400;
  font-style: normal;
  src: local("Righteous Regular"), local("Righteous-Regular"),
    url(../font/Righteous-Regular.woff) format("woff"),
    url(../font/Righteous-Regular.woff2) format("woff2"),
    url(../font/Righteous-Regular.eot) format("eot");
  font-display: swap;
}

.header {
  background: linear-gradient(
      193.03deg,
      rgba(0, 0, 0, 0) 29.59%,
      rgba(0, 0, 0, 0.54) 47.68%,
      rgba(0, 0, 0, 0.54) 69.99%
    ),
    url(../img/bg_1.jpg) no-repeat center top/cover;
  padding-top: 35px;
}
.top__nav {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header__menu {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.header__li {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.header-menu__call {
  display: grid;
  justify-self: end;
  align-self : start;
}
.header__call {
  width: 189px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #f9f9f9;
  color: #ffffff;
  background-color: transparent;
  border-radius: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.header_tel {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.header_text {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.header-text__sale {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.header__button {
  background: rgba(255, 191, 26, 0.87);
  border-radius: 10px;
  filter: drop-shadow(0px 2px 15px #b6b6b6);
  width: 187px;
  height: 51px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 68%;
  text-align: center;
  color: #000000;
}
